html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

a {
  color: #0a1e43;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
a:hover,
a:focus {
  color: #030a17;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}
section h2 {
  font-size: 50px;
}

input[type="text"]:focus {
  box-shadow: 0 1px 10px #42e8e0;
}

a {
  color: #42e8e0;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  opacity: 0.7;
  color: #42e8e0;
}

.modal-content {
  color: #555555;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav .navbar-brand {
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #030a17;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}
#mainNav .navbar-nav > li a {
  font-size: 11px;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
}
#mainNav .navbar-nav > li a.active {
  color: #0a1e43 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li a.active:hover {
  background-color: transparent;
}
#mainNav .navbar-nav > li a,
#mainNav .navbar-nav > li a:focus {
  color: #222222;
}
#mainNav .navbar-nav > li a:hover,
#mainNav .navbar-nav > li a:focus:hover {
  color: #0a1e43;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #mainNav .navbar-nav > li a,
  #mainNav .navbar-nav > li a:focus {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
  }
  #mainNav .navbar-nav > li a:hover,
  #mainNav .navbar-nav > li a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover,
  #mainNav.navbar-shrink .navbar-brand:focus {
    color: #0a1e43;
  }
  #mainNav.navbar-shrink .navbar-nav > li a,
  #mainNav.navbar-shrink .navbar-nav > li a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li a:hover,
  #mainNav.navbar-shrink .navbar-nav > li a:focus:hover {
    color: #0a1e43;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: #0a1e43;
  background:#0a1e43;
  background:#0a1e43;
  background-size: cover;
}
header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}
header.masthead .header-content h1 {
  font-size: 30px;
}
header.masthead .header-content h2 {
  font-size: 20px;
}
header.masthead .header-content .shiny-button {
  max-width: 300px;
  position: relative;
  background: #ffffff;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
}
header.masthead .header-content .shiny-button:hover,
header.masthead .header-content .shiny-button:active,
header.masthead .header-content .shiny-button:focus {
  box-shadow: 0 5px 20px #42e8e0;
}
header.masthead .header-content .shiny-button .shiny-button-content {
  font-size: 15px;
  border-radius: 10px;
  background: #0a1e43;
  color: white;
  padding: 1.2rem;
}
header.masthead .cta-container {
  margin-top: 50px;
}
header.masthead .cta-container .cta-link {
  font-size: 20px;
  font-weight: bold;
}
header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}
header.masthead .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 40px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

header.masthead-create {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: #0a1e43;
  background:
    -webkit-linear-gradient(to bottom, #0a1e43, #0a1e43);
  background:
    linear-gradient(to bottom, #0a1e43, #5761d7);
  background-size: cover;
}
header.masthead-create .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}
header.masthead-create .header-content h1 {
  font-size: 30px;
}
header.masthead-create .header-content h2 {
  font-size: 20px;
}
header.masthead-create .header-content .shiny-button {
  max-width: 300px;
  position: relative;
  background: #0a1e43;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
}
header.masthead-create .header-content .shiny-button:hover,
header.masthead-create .header-content .shiny-button:active,
header.masthead-create .header-content .shiny-button:focus {
  box-shadow: 0 5px 20px #42e8e0;
}
header.masthead-create .header-content .shiny-button .shiny-button-content {
  font-size: 15px;
  border-radius: 10px;
  background: #0a1e43;
  color: white;
  padding: 1rem;
}
header.masthead-create .cta-container {
  margin-top: 50px;
}
header.masthead-create .cta-container .cta-link {
  font-size: 20px;
  font-weight: bold;
}
header.masthead-create .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}
header.masthead-create .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 992px) {
  header.masthead-create {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead-create .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead-create .header-content h1 {
    font-size: 40px;
  }
  header.masthead-create .device-container {
    max-width: 325px;
  }
}
header.masthead-create .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header.masthead-create .header-content .warning {
  color: #ffd30d;
  line-height: 1.4;
  margin-bottom: 80px;
}

header.masthead-submit {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: #0a1e43;
  background:
    -webkit-linear-gradient(to bottom, #0a1e43, #0a1e43);
  background:
    linear-gradient(to bottom, #0a1e43, #5761d7);
  background-size: cover;
}
header.masthead-submit .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}
header.masthead-submit .header-content h1 {
  font-size: 30px;
}
header.masthead-submit .header-content h2 {
  font-size: 20px;
}
header.masthead-submit .header-content .shiny-button {
  max-width: 300px;
  position: relative;
  background: #0a1e43;
  padding: 3px;
  border-radius: 10px;
  text-align: center;
}
header.masthead-submit .header-content .shiny-button:hover,
header.masthead-submit .header-content .shiny-button:active,
header.masthead-submit .header-content .shiny-button:focus {
  box-shadow: 0 5px 20px #ffffff;
}
header.masthead-submit .header-content .shiny-button .shiny-button-content {
  font-size: 15px;
  border-radius: 10px;
  background: #0a1e43;
  color: white;
  padding: 0.5rem;
}
header.masthead-submit .cta-container {
  margin-top: 50px;
}
header.masthead-submit .cta-container .cta-link {
  font-size: 20px;
  font-weight: bold;
}
header.masthead-submit .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}
header.masthead-submit .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 992px) {
  header.masthead-submit {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead-submit .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead-submit .header-content h1 {
    font-size: 40px;
  }
  header.masthead-submit .device-container {
    max-width: 325px;
  }
}
header.masthead-submit .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.masthead-wallet {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: #0a1e43;
  background: #0a1e43;
  background: #0a1e43;
  background-size: cover;
}
header.masthead-wallet .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}
header.masthead-wallet .header-content h1 {
  font-size: 30px;
}
header.masthead-wallet .header-content h2 {
  font-size: 20px;
}
header.masthead-wallet .header-content .shiny-button {
  max-width: 300px;
  position: relative;
  background: #0a1e43;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
}
header.masthead-wallet .header-content .shiny-button:hover,
header.masthead-wallet .header-content .shiny-button:active,
header.masthead-wallet .header-content .shiny-button:focus {
  box-shadow: 0 5px 20px #42e8e0;
}
header.masthead-wallet .header-content .shiny-button .shiny-button-content {
  font-size: 15px;
  border-radius: 10px;
  background: #0a1e43;
  color: white;
  padding: 1rem;
}
header.masthead-wallet .cta-container {
  margin-top: 50px;
}
header.masthead-wallet .cta-container .cta-link {
  font-size: 20px;
  font-weight: bold;
}
header.masthead-wallet .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}
header.masthead-wallet .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 992px) {
  header.masthead-wallet {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead-wallet .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead-wallet .header-content h1 {
    font-size: 40px;
  }
  header.masthead-wallet .device-container {
    max-width: 325px;
  }
}

section.download {
  position: relative;
  padding: 150px 0;
}
section.download h2 {
  font-size: 50px;
  margin-top: 0;
}
section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

section.features .section-heading {
  margin-bottom: 100px;
}
section.features .section-heading h2 {
  margin-top: 0;
}
section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
section.features .feature-item h3 {
  font-size: 30px;
}
section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: #0a1e43;
  background: #0a1e43;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
}
section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}
@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}
section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
}
section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}
footer p {
  font-size: 12px;
  margin: 0;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #0a1e43;
  background: #0a1e43;
  background: #0a1e43;
}

.text-primary {
  color: #0a1e43;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  border-color: #0a1e43;
  background-color: #0a1e43;
}

.btn {
  border-radius: 30px;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

header.masthead-submit .row {
  display: flex;
  justify-content: flex-end;
}
header.masthead-submit .row .balance {
  position: absolute;
  top: 10%;
  padding-right: 30px;
}
header.masthead-submit .row .header-content .form-inline input {
  font-size: 16px;
  width: 300px;
  height: 60px;
  border-radius: 30px;
}
header.masthead-submit .row .header-content .shiny-button {
  padding: 3px;
}
header.masthead-submit
  .row
  .header-content
  .shiny-button
  .shiny-button-content {
  padding: 1rem;
}
header.masthead-submit .row .header-content .cta-link {
  font-weight: unset;
}

section.instructions-section p.heading {
  font-size: 22px;
}

section.instructions-section li {
  line-height: 2;
  font-size: 18px;
}

@media (min-width: 992px) {
  header.masthead-wallet .header-content h1 {
    font-size: 30px;
  }
}

header.masthead-wallet .header-content .card {
  background-color: white;
  color: #555555;
}
header.masthead-wallet .header-content .card .card-body {
  padding: 3rem;
}
header.masthead-wallet .header-content .card .card-body .row {
  margin-bottom: 30px;
}
header.masthead-wallet .header-content .card .card-body .row .fa-paste {
  cursor: pointer;
}
